@import "tailwindcss";

@theme {
  --color-bg: #f9fafb;
  --color-primary: #0c9619;
  --color-primary-dark: #245d18;
  --color-yellow: #ffcc00;
  --font-display: "Montserrat", sans-serif;
  --title-font-family: "Gabarito", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font-family);
}

p {
  font-family: var(--font-display);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg);
}
